{% extends 'base.html' %}
{% block title %}
<title>
    Dashboard
</title>
{% endblock %}
{% block content %}

<!-- <h1 class="text-center pt-4">Blogs By <a>{{request.user}}</a></h1> -->

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="container table-responsive py-5"> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">

    <div class="mb-3">
        <a href="{% url 'add-blog' %}" class="btn btn-primary">Add Blog</a>
    </div>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Blog Title</th>
      <th scope="col">Author Name</th>
      <th scope="col">Content</th>
      <th scope="col">Action</th>

    </tr>

  </thead>

  <tbody>
    {% for item in creator_obj %}

    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{item.title}}</td>
      <td>{{item.author_name}}</td>
      <td>{{item.description|safe |slice:":40"}} {% if item.description|length > 160 %}...{% endif %} </td>
      <td>
        <a href="{% url 'view-blog' item.slug %}" class="btn btn-primary btn-sm">View</a>
        <a href="{% url 'edit-blog' item.slug %}" class="btn btn-warning btn-sm">Update</a>
        <a href="{% url 'delete-blog' item.slug %}" class="btn btn-danger btn-sm">Delete</a>
    </td>
    </tr>
    {% endfor %}

    
    
  </tbody>
</table>
</div>


<br>
<br>

<br>

<br>

<br>

<br>
<br>

<br>

<br>

{% endblock %}