{% extends 'base.html' %}
{% block title %}
<title>Forget Password</title>
{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h2 class="text-center mb-4">Forget Password</h2>
                        <hr>
                        
                        {% if messages %}
                            <div class="alert alert-success" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" required class="form-control" id="email" placeholder="Enter your Email">
                        </div>
                        
                        <p>Didn't have an account? <a href="{% url 'signup' %}">Register</a></p>
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
{% endblock %}
